body {
    text-align: center;
    margin-top: 150px;
    font-family: "Century Gothic";
}

#clock {
    font-size: 80px;
}
#text {
    font-size: 35px;
}

#hexclock {
  position: fixed;
  top: 20px;
  left:  20px;
}